// BPD-CDMS
// Author: Gautham Badhrinathan - b.gautham@gmail.com, fb.com/GotEmB

@import nib

@media (max-width: 767px)
	.hero-unit
		h1
			font-size 30px
		p
			font-size 14px
			line-height 20px
			i
				position relative
				top 1px

@media (min-width: 768px) and (max-width: 979px)
	#loginbox
		label
			width 130px
		.controls
			margin-left 150px
	.hero-unit
		h1
			font-size 50px
		p
			font-size 16px
			line-height 24px
			i
				position relative
				top 2px
	.row
		.well
			position relative
			left -20px

@media (min-width: 980px)
	body
		padding-top 60px
		padding-bottom 40px
	#loginbox
		@extends .span6
	.hero-unit
		p
			i
				position relative
				top 4px
	.row
		.well
			position relative
			left -20px

.table
	td
		vertical-align middle
		border-bottom 1px solid #ddd
		&.hover
			background-color #f5f5f5
		&.success
			background-color #dff0d8
			&.hover
				background-color #d0e9c6
		&.error
			background-color #f2dede
			&.hover
				background-color #ebcccc
		&.warning
			background-color #fcf8e3
			&.hover
				background-color #faf2cc
		&.info
			background-color #d9edf7
			&.hover
				background-color #c4e3f3
	&.small
		th, td
			font-size 11px
	&.center-nonfirst
		th, td
			text-align center
		th:first-of-type, td:first-of-type
			font-weight bold

.table.table-bordered
	td
		border-bottom none

.dropdown-menu
	li.error
		background-color #f2dede
	li.success
		background-color #dff0d8
	li.warning
		background-color #fcf8e3

.center
	text-align center

.nav.hide
	display none

.courses-selections
	.lead
		margin-bottom 10px
	&.disabled
		pointer-events none
		opacity 0.5
	.input-prepend
		text-align center
		position relative
		&.topOpen
			span.add-on
				border-top-left-radius 0
			input
				border-top-right-radius 0
		&.disabled
			pointer-events none
			opacity 0.5
	table
		td.placeholder
			color #777
			text-align center

#prelogin-container
	background-color white
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	z-index 1

#electiveDrop
	position absolute
	text-align center
	top auto
	bottom 53px
	left 0
	right 0
	ul
		margin auto
		width 464px
		display block
		left auto
		position static
		float none
		text-align left
		box-shadow 0 0px 10px rgba(0, 0, 0, 0.2)
		border-color rgb(204, 204, 204)
		border-bottom-left-radius 0
		border-bottom-right-radius 0
		table
			width 100%

span.otherDate
	border solid 1px #D0D0D0
	padding 3px 6px
	border-radius 4px
	background-color #F0F0F0
	margin-right 4px

	&.clashing
		border solid 1px #d06060
		background-color #f0e0e0

.hero-unit
	ul, li
		font-size 18px
		font-weight 200
		line-height 30px
		color inherit

.commitBtn
	margin 10px