@media (min-width: 768px) and (max-width: 979px)
	#loginbox
		label
			width 130px
		.controls
			margin-left 150px
	.hero-unit
		h1
			font-size 50px
		p
			font-size 16px
			line-height 24px

@media (max-width: 767px)
	.hero-unit
		h1
			font-size 30px
		p
			font-size 14px
			line-height 20px

@media (min-width: 980px)
	body
		padding-top 60px
		padding-bottom 40px
	#loginbox
		@extends .span6

.table
	td
		vertical-align middle
	&.small
		th, td
			font-size: 12px
	&.center-nonfirst
		th, td
			text-align: center
		th:first-of-type, td:first-of-type
			text-align: left

.dropdown-menu
	li.error
		background-color #f2dede
	li.success
		background-color #dff0d8
	li.warning
		background-color #fcf8e3

.center
	text-align: center