@media (max-width: 767px)
	.hero-unit
		h1
			font-size 30px
		p
			font-size 14px
			line-height 20px
			i
				position relative
				top 1px

@media (min-width: 768px) and (max-width: 979px)
	#loginbox
		label
			width 130px
		.controls
			margin-left 150px
	.hero-unit
		h1
			font-size 50px
		p
			font-size 16px
			line-height 24px
			i
				position relative
				top 2px
	.row
		.well
			position relative
			left -20px

@media (min-width: 980px)
	body
		padding-top 60px
		padding-bottom 40px
	#loginbox
		@extends .span6
	.hero-unit
		p
			i
				position relative
				top 4px
	.row
		.well
			position relative
			left -20px

.table
	td
		vertical-align middle
		&.hover
			background-color #f5f5f5
		&.success
			background-color #dff0d8
			&.hover
				background-color #d0e9c6
		&.error
			background-color #f2dede
			&.hover
				background-color #ebcccc
		&.warning
			background-color #fcf8e3
			&.hover
				background-color #faf2cc
		&.info
			background-color #d9edf7
			&.hover
				background-color #c4e3f3
	&.small
		th, td
			font-size: 12px
	&.center-nonfirst
		th, td
			text-align: center
		th:first-of-type, td:first-of-type
			text-align: left

.dropdown-menu
	li.error
		background-color #f2dede
	li.success
		background-color #dff0d8
	li.warning
		background-color #fcf8e3

.center
	text-align center

.nav.hide
	display none

#register_button
	display block
	margin auto

.courses-selections
	&.disabled
		pointer-events none
		opacity 0.5
	.input-prepend
		text-align center